@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@300;400;700&display=swap');

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
* :before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fdfcfb;
  padding: 3rem;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
  display: flex;

}

p:last-of-type {
  margin-bottom: 2em;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  margin-bottom: 0.8em;
  text-align: center;
  color: #c4671b;
}

.bio {
  width: 80%;
  margin: 1em auto;
  font-size: 2em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  line-height: 1.2em;
}

.intro {
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  padding: 1em;
  background-color: rgb(248, 220, 189);
  width: 75%;
  margin: 0 auto;
  box-shadow: 21px 24px 32px 7px rgba(184, 184, 184, 1);

}

.category {
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  margin-bottom: 0.8em;
  margin-top: 0.9em;
  color: #c4671b;
  text-align: center;
  font-weight: 800;
}

.skills-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.personal-skills,
.software-skills {
  width: 100%;
  padding: 1em;
}

.description {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  line-height: 1.2em;

}

.description1 {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  line-height: 1.2em;
}

.personal-skills {
  text-align: left;
}

.subcategory {
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  font-weight: bold;
  font-style: oblique;
  color: #c4671b;
}

.timeline-section {
  min-height: 100vh;
  padding: 100px 15px;
  max-width: 1200px;
  position: relative;
  margin: 100px auto;
}

.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-items::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #1bc45f;
  left: calc(50% - 1px)
}

.timeline-items:last-child {
  margin-bottom: 0;
}

.timeline-items:nth-child(odd) {
  padding-right: calc(50% + 30px);
}

.timeline-items:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 16px;
  width: 16px;
  background-color: rgb(192, 103, 30);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
}

.timeline-date {
  font-size: 2em;
  color: rgb(192, 103, 30);
  margin: 6px 8px 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.timeline-content {
  background-color: rgb(248, 220, 189);
  padding: 1em;
  border-radius: 5px;
  margin-top: 10px;
}

.timeline-content h6,
h7,
h8,
h9 {
  font-size: 2em;
  color: chocolate;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-style: bold;
}

.timeline-content p {
  color: black;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.5em;
}

.experience-container{ display: flex;
  width: 100%;
  flex-direction: column;
}

.job, .info, .date{
  width: 100%;
padding: 15px;
}

.job {
  font-size: 25px;
  color: #c4671b;
  font-family: 'Lato', sans-serif;
  font-weight: 900;

}

.info, .date{font-size: 25px;
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  background-color: #27198f;
max-width: 100%;
}
.duties {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  line-height: 1.2em;
  color: black;

}

strong {
  font-weight: 100;
  color: lightblue;
}

.button {
  width: 7em;
  border: 1px solid red;
  padding: 1em;
  border-radius: 1em;
  background: white;
}

/*

       ___  __             __        ___  __     ___  __  
 |\/| |__  |  \ |  /\     /  \ |  | |__  |__) | |__  /__` 
 |  | |___ |__/ | /~~\    \__X \__/ |___ |  \ | |___ .__/ 
                                                          

 */

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
  
  .bio {
    width: 80%;
    margin: 1em auto;
    font-size: 2em;
    text-align: center;
  }

  .skills-container {
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }

  .personal-skills {
    border-right: 4px solid #c4671b;
    text-align: right;
  }

  .personal-skills,
  .software-skills {
    width: 50%;
  }

  .description {

    font-size: 2em;
  }

  .description1 {

    font-size: 2em;
  }

  .experience-container{ display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: nowrap;
   
  }

  .job, .info, .date{
    width: 33.333%;
    margin: 1em auto;
    
  }

  .duties {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    line-height: 1.2em;

  }
}



@media (min-width: 1280px) {}

@media (min-width: 1536px) {}